* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F1F1F1;
  color: white;
  font-family: Helvetica;
  font-weight: 300;
  padding: 0 1rem;
  max-height: 10%;
  /* max-height: 5%; */
}

.navbar ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: .5rem;
  align-items: center;
  list-style: none;
}

.logo {
  width: 75%;
  padding: 0 0 .5em 1em;
}

.logo[title]:hover:after{
  background-color: white;
  color:black;
  font-size: 30pt;
}
.nav-search-input {
  width: 60%;
  height: 50%;
  border-radius: 12px;
  font-size: 16px;
  margin-right: 10px;
  padding: 5px;
}

.search-button {
  background-color: #6495ed;
  border: none;
  color: white;
  font-size: 14px;
  padding: .5em;
  border-radius: 16px;
  margin-right: 20px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #5077c0 ;
}

.create {
  background-color: #3DAD49;
  color: white;
  padding: .5em;
  font-size: 14px;
  border: none;
  border-radius: 12px;
  transition: 5ms ease-in;
  cursor: pointer;
}

.create:hover {
  background-color: #328f3b;

}

.notif {
  width: 30px;
  margin: 0 20px;
  transition: 5ms ease-in;
  cursor: pointer;
}

.notif:hover {
  background-color: #b9b9b9;
}

.nav-pic {
  width:50px;
  height: 50px;
  border-radius: 50%;
}
.profile {
  width: fit-content;
  padding-right: 20px;
  cursor: pointer;
  color: black;
  transition: 5ms ease-in;
  cursor: pointer;
}

.profile:hover {
  background-color: #b9b9b9;
}

.notifications {
  background-color: white;
  padding: 10px;
  color: black;
  position: absolute;
  top: 62px;
  right: 100px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  width: 400px;
  height: fit-content;
  max-width: 400px;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 2px 4px 0 rgba(0, 0, 0, 0.1),inset 0 0 0 1px rgba(255, 255, 255, 0.5);;
  border-radius: 45px;
}

.notification-header {
  margin: 3px 10px;
}

.notification-clear-btn {
  text-decoration: underline;
  text-align: right ;
  margin: 0;
  cursor: pointer;
  color: blue;
}

.notif-icon-grp {
  position: relative;
}

.notification-counter {
  border-radius: 50%;
  background-color: red;
  font-size: 10pt;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: 10px;
}

.notification-cancel {
  background-color: transparent;
  position: absolute;
  right: 5%;
  top: 35%;
  border-style: hidden;
  font-size: 15pt;
  color: #EB4747;
  cursor:pointer;
}

.notification {
  padding: 15px;
  font-size: 14px;
  border-radius: 10px;
  position: relative;
}

.notification:hover {
  background-color:#b9b9b9 ;
}

.notification-message {
  margin: 3px 0;
  cursor:pointer;
}

.notification-time {
  margin: 8px 0 0 0;
  color: #444444;
}

.notification-empty {
  color: #444444;
  text-align: center;
}