
.loading {
    width: 108px;
    margin: 400px auto;
}

.dot {
    width: 30px;
    height: 30px;
    margin: 3px;
    display: inline-block;
    border-radius: 50%;
}

.dot1{
    background-color: #FEF9A7;
    animation: jump-up 1s 0.1s ease-in-out infinite;
}

.dot2{
    background-color: #FAC213;
    animation: jump-up 1s 0.2s ease-in-out infinite;
}

.dot3{
    background-color: #F77E21;
    animation: jump-up 1s 0.3s ease-in-out infinite;
}

@keyframes jump-up{
    50% {
        transform: translate(0, 30px);
    }
}
