* {
    box-sizing: border-box;

  }

  .sessions-container{
    width: 100vw;
    height: 100vh;
    background-image: url("../../pics/Sessions_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
