* {
    box-sizing: border-box;
  }

  .sessions-container{
    background-image: url("../../pics/Sessions_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    border: 2px solid red;
  }

  .session {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .date-header {
        width: 750px;
        margin: 0 auto;
  }
