* {
    box-sizing: border-box;
  }
  
  .session {
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../pics/Sessions_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }

  .event-title {
    display: flex;
    flex-direction: column;
  }

  .date-header {
        width: 750px;
        margin: 0 auto;
  }
