* {
  box-sizing: border-box;
}

.container{
  width: 100vw;
  height: 100vh;
  font-size: 14px;
  background-image: url("../../pics/login_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.create-form-box {
  justify-content: center;
  margin: auto;
  width: 500px;
  height: 400px;
  padding: 50px 100px;
  border-radius:45px;
  background: rgb(253,228,156);
  background: linear-gradient(180deg, rgba(253,228,156,1) 0%, rgba(255,243,210,1) 35%);
}

.sign-header {
  margin: 0 auto 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.sign-input {
  margin: 10px auto 10px 0;
  padding: 7px;
  height: 30px;
  width: 210px;
  border: 0;
  border-radius: 10px;
  box-shadow: 1px 1px  #888888;
  font-family: 'Average Sans', sans-serif;

}

.sign-e {
  width: fit-content;
  height: fit-content;
  margin: auto;
  text-align: center;
}

.sign-login-btn {
  margin: 20px auto;
  background: #DDDDDD;
  border-style: none;
  border-radius: 45px;
  width: 80px;
  height: 30px;
  font-size: 11pt;
  font-family: 'Roboto', sans-serif;
  cursor: "pointer";
}

.sign-sign-in {
  display: inline;
}
