.event-pill {
    background-color: #FDE49C;
    width: 750px;
    height: 150px;
    border-radius: 45px;
    position: relative;
    margin: 10px auto;
}

.event-pill-header {
    position: absolute;
    margin: 0;
    top: 15px;
    left: 40px;
    font-family: 'Montserrat', sans-serif;
}

.event-detail-header {
    position: absolute;
    left: 40px;
    display: flex;
    align-items: center;
    margin: 5px 0;
    font-family: 'Open Sans', sans-serif;
}

.event-time {
    top: 60px
}

.event-location {
    top: 30px
}

.event-pax {
    position: absolute;
    display: flex;
    align-items: center;
    top: 15px;
    right: 30px;
    margin: 0;
}

.event-attendance {
    font-size: 14pt;
    font-weight: bold;
    margin: 0;

}

.host-btns {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 10px;
    right: 30px;
}

.event-action-btn {
    margin: 0 10px;
    width: 120px;
    height: 30px;
    font-size: 12pt;
    border-width: 0;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}

.view-event-btn {
    background-color: #816797;
    cursor: pointer;
}

.edit-event-btn {
    background-color: #48B9DC;
    cursor: pointer;
}

.leave-event-btn {
    background-color: #DC4848;
    cursor: pointer;
}

.pax-icon {
    height: 30px;
}

.location-icon {
    height: 20px;
    margin: 0 5px;
}

.time-icon {
    height: 20px;
    margin: 0 5px;
}